.instructions {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: white;
    background-color: black;
    border: solid 1px darkgray;
    width: 100%;
    padding: 8px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}